@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Hind Siliguri", sans-serif;
  box-sizing: border-box;
}

.custom-container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
